<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='css/bootstrap.css' rel='stylesheet'>
  <title></title>
</head>
<body>
  <div class="container">
  <h1> Robot Name: <%= @robot.name %> </h1>
  <h3> City: <%= @robot.city %> </h3>
  <h3> State: <%= @robot.state %> </h3>
  <h3> Birthdate: <%= @robot.birthdate %> </h3>
  <h3> Date Hired: <%= @robot.date_hired %> </h3>
  <h3> Department: <%= @robot.department %> </h3>
  <img class="thumbnail"
  src="<%= @robot.avatar %>">

  <a href="/robots"> Robot Index</a>
</div>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src='js/bootstrap.js'></script>
</body>
</html>
